<% suites.each do |building, suites_array| %>
  <h4><em><%= building.name %></em></h4>
  <table>
    <thead>
      <tr>
        <td>Suite #</td>
        <td>S</td>
        <td>D</td>
        <td>C</td>
      </tr>
    </thead>
    <tbody>
      <% suites_array.each do |suite| %>
        <tr>
          <td><%= link_to suite.number, suite_path(suite) %></td>
          <td><%= suite.singles.count %></td>
          <td><%= suite.doubles.count %></td>
          <td><%= suite.common_rooms.count %></td>
          <td><% suite.favorites.each do |suite_fave| %>
                <% if suite_fave.group == current_user.group && policy(Like.new(user: current_user, favorite: suite_fave)).new? %>
                    <%= render 'likes/hidden_form', user: current_user, favorite:suite_fave, btn_str:'Like Suite' %>
                <% end %>
              <% end %>
              <% if policy(Like.new(user:current_user)).student_in_group? && FavoritePolicy.new(current_user.group, suite).new? %>
                <%= render 'favorites/hidden_form', suite: suite, btn_str:'Like Suite' %>
              <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
