<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="oversub-report">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Suite Size</td>
            <th scope="col">Suites</td>
            <th scope="col">Groups</td>
            <th scope="col">Locked Groups</td>
            <th scope="col">Leftover Suites</td>
        </thead>
        <tbody>
          <% draw.sizes.each do |size| %>
            <tr class="<%= diff_class(draw.oversubscription[size])%>"]>
              <td data-role="suite-size"><%= size_str(size).capitalize.pluralize %></td>
              <td data-role="suite-count"><%= draw.suite_counts[size] %></td]>
              <td data-role="group-count"><%= draw.group_counts[size] %></td]>
              <td data-role="locked-count"><%= draw.locked_counts[size] %></td]>
              <td data-role="oversubscription"><%= draw.oversubscription[size] %></td]>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </li>
</ul>
