<footer class="row">
  <span> <%= link_to 'About Us', page_path(id: 'aboutus') %></span>
  <ul class="footer-links">
    <li><small><%= link_to 'Accessibility at Yale', 'https://usability.yale.edu/web-accessibility/accessibility-yale' %></small></li>
    <li><%= link_to 'Documentation', 'https://yale-sdmp.gitlab.io/vesta', targe: '_blank' %></li>
    <li><%= link_to 'Terms of Service', terms_of_service_path %></li>
    <li><%= link_to 'Contact Us', 'mailto:vesta-support@yale.edu' %></li>
  </ul>
</footer>