<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Draws
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#"><%= link_to 'All Draws', draws_path %></a>
    <a class="dropdown-item" href="#"><%= link_to 'New Draw', new_draw_path %></a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Special Groups
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#"><%= link_to 'All Special Groups', groups_path %></a>
    <a class="dropdown-item" href="#"><%= link_to 'Create Special Group', new_group_path %></a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Users
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#"><%= link_to 'All Users', users_path %></a>
    <a class="dropdown-item" href="#"><%= link_to 'Add User', build_users_path %></a>
    <a class="dropdown-item" href="#"><%= link_to 'Import Users', new_enrollment_path %></a>
    <a class="dropdown-item" href="#"><%= link_to 'Export Group Leader Emails', new_email_export_path %></a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Inventory
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#"><%= link_to 'All Buildings', buildings_path %></a>
    <a class="dropdown-item" href="#"><%= link_to 'New Building', new_building_path %></a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Results
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="#"><%= link_to 'All Buildings', buildings_path %></a>
    <a class="dropdown-item" href="#"><%= link_to 'New Building', new_building_path %></a>
  </div>
</li>
<li class="nav-item">
  <a class="nav-link" href="#"><%= link_to 'Settings', settings_path(@current_college) %></a>
</li>
