<% if current_user.draw && policy(current_user.draw).show? %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Draws
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#"><%= link_to 'My Draw', draw_path(current_user.draw) %></a>
      <a class="dropdown-item" href="#"><%= link_to 'All Draws', draws_path %></a>
    </div>
  </li>
<% else %>
  <li class="nav-item">
    <a class="nav-link" href="#"><%= link_to 'All Draws', draws_path %></a>
  </li>
<% end %>
<% if policy(current_user).edit_intent? %>
  <li class="nav-item">
    <a class="nav-link" href="#"><%= link_to 'Update Housing Intent', edit_intent_user_path(current_user) %></a>
  </li>
<% end %>
<% if current_user.group %>
  <% if current_user.draw %>
    <li class="nav-item">
      <a class="nav-link" href="#"><%= link_to 'My Group', draw_group_path(current_user.draw, current_user.group) %></a>
    </li>
    <% if policy(current_user.group).assign_rooms? %>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= link_to 'Assign Rooms', new_group_room_assignment_path(current_user.group) %></a>
      </li>
    <% end %>
    <% if policy(current_user.group).select_suite? %>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= link_to 'Select Suite', new_group_suite_assignment_path(current_user.group) %></a>
      </li>
    <% end %>
  <% else %>
    <li class="nav-item">
      <a class="nav-link" href="#"><%= link_to 'My Group', group_path(current_user.group) %></a>
    </li>
    <% if policy(current_user.group).assign_rooms? %>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= link_to 'Assign Rooms', new_group_room_assignment_path(current_user.group) %></a>
      </li>
    <% end %>
  <% end %>
<% elsif policy(Group).new? && current_user.draw %>
  <li class="nav-item">
    <a class="nav-link" href="#"><%= link_to 'Create Housing Group', new_draw_group_path(current_user.draw) %></a>
  </li>
<% end %>
